<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Liste des utilisateurs : </h2>
    <ul id="userList"></ul>
    <a href="/renderUsers/renderNew"><button>Ajouter un utilisateur</button></a>
    <a href="/renderUsers/renderDelete"><button>Supprimer un utilisateur</button></a>
    <a href="/renderDocument/renderDocument/1"><button>Afficher le doc 1</button></a>
    <script src="./javascripts/main.js"></script>
    
</body>

</html>