button{
    cursor: pointer;
}
/* Ajoutez du style CSS ici pour personnaliser l'apparence */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
}

#userMenu {
    display: none;
    position: absolute;
    top: 100px;
    right: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#userMenu button {
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #555; /* Couleur de fond pour les boutons */
}

#userMenu button:hover {
    background-color: #777; /* Couleur de fond au survol des boutons */
}

#userButton {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alignez les éléments au centre dans le sens vertical */
}

#searchbar{
    padding:10px;
    border-radius: 10px;

    border: 2px solid;
    display: block;
    margin: 20px auto;
    width: 200px;
    outline: none;
    transition: 0.25s;
}

/* When an input field (except the one with ID "documentTitle") gets focus,
change its width to 150% */
#searchbar:focus {
    width: 280px;
}



.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.modal-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.listUsersShare{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.options-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 5px; /* Espace entre le texte et l'icône */
  }
  
  /* Styles spécifiques à Font Awesome - à ajuster selon la bibliothèque d'icônes que vous utilisez */
  .fa-ellipsis-v::before {
    content: "\f142";
  }

  .image-container {
    width: 100px;
    height: 50px;
    background-image: url('/images/logoo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
  

.addSpreadsheet {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.9rem 20px;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20%;
  }
  
  .addSpreadsheet {
    background: #eef9ef;
    border: 1px solid #43a047;
    color: #2e7d32;
    margin-right: 1rem;
  }
  
  .addSpreadsheet img {
    float: left;
    margin-right: 0.5rem;
  }

  .modal2 {
    display: none; 
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.close2 {
    float: right;
    cursor: pointer;
}


#documentTitle {
    width: 100%;
}

#saveButton {
    border: none;  /* Supprime la bordure */
    background: none;  /* Supprime l'arrière-plan */
    padding: 0;  /* Supprime le rembourrage */
    margin-top: 1em;  /* Supprime la marge */
    width: 20px;  /* Ajustez la largeur si nécessaire */
    height: auto;  /* Ajustez la hauteur pour conserver les proportions */
    cursor: pointer;  /* Curseur pointer pour indiquer l'interactivité */
}

/* Pour ajouter un effet de survol (si nécessaire) */
#saveButton:hover {
    opacity: 0.8;  /* Ajustez l'opacité pour donner un effet de survol */
}

.documents {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 10px auto;
}

.options-menu {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.options-menu button{

    margin: 2.5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #555; /* Couleur de fond pour les boutons */    
}

#userDocs li {
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userDocs li:hover {
    background-color: #e0e0e0;
}