<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un nouveau document</title>
</head>
<body>
    <form action="/document/new" method="post">
        <label> Titre
            <input type="text" name="titre" value = "<% locals.titre %>"/>
        </label>
    </form>
    
</body>
</html>